[2016-01-10 15:48] cmr opened #1 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-07-01 17:00] richli opened #2 "Add rustdoc"
Hi,

I was wondering if you would be open to pull requests if I were to help write up some documentation. I figure it would be generated using `rustdoc` and be hosted using github-pages.

I'm new to Rust, but I thought I could at least do this much to help out. :smile:

[2016-09-23 01:32] mhiley commented on #2
Hello, sorry I missed this. I would be very happy to get help on the documentation if you are still interested! I'd intended to do that myself but didn't get to it.

[2016-09-23 17:15] richli commented on #2
Okay, if I get some free time I'll see what I can do and open a pull request.

Since I opened this issue, https://docs.rs/ is available for hosting documentation. I did a quick search and it look like it is already hosting it, although it says that the documentation build failed: https://docs.rs/crate/netcdf/0.1.0

[2018-01-02 14:58] mhiley opened #9 "Change license from GPLV3"
I'm going to change the license to MIT as requested by @bluss in #7 .

[2018-01-02 22:30] bluss commented on #9
I've released GPLv3 software myself, and I don't want to force anyone to change their license. But it would be neat, it comes from a habit of much of Rust ecosystem being MIT or MIT/Apache-2.0 I guess and I haven't dwelled so long upon it. (But I have rewritten a small part of read-only netcdf so that I could use that instead :smile:; if nothing else that helps me understand the data model better.

[2018-01-18 15:27] mhiley commented on #9
fixed by #10

[2018-01-18 15:27] #9 closed

[2018-01-18 15:27] mhiley commented on #1
fixed by #10

[2018-01-18 15:27] #1 closed

[2018-01-20 17:28] botev opened #11 "Consider interface to filling data into already allocated arrays"
I'm considering using this library for Machine Learning purposes, as I need to speed up loading random samples from a large netcdf file, which in python is prohibitively slow. However, for the sake of speed, it would be nice if the `array_at`, `values_at` and all of the other interfaces have also methods to which you can provide an already preallocated memory array and it will fill in the values t

[2018-01-20 17:43] bluss commented on #11
I'm watching for this feature as well. I have been using an untyped (`*const u8`) interface and would be interested in that kind of low level interface as well, or enough low level access that it can be implemented using the right variable ids with the netcdf-sys interface.

[2018-01-24 22:43] evomassiny commented on #11
Hi,
I've implemented an alternative to `values_at` and `values` that can be used with a pre-allocated vector, see the [related PR](https://github.com/mhiley/rust-netcdf/pull/12).
As for the equivalent of `array_at`, I don't know how to mutate the raw data of an ArrayD (yet).

@bluss The netcdf-sys interface expose all the "nc_get_vara_*" fonction familly from the [original C library](https://www.u

[2018-01-25 17:51] bluss commented on #11
Sure, I'm thinking of `nc_get_vara` which uses a `void *`. I have a prototype (using netcdf-sys) that is using it:

[code]

I have been struggling to find the right way to work with a "foreign typesystem" (netCDF types in this case) and sometimes using enums everywhere seems both redundant and restrictive. The C approach to "generic" is sometimes really effective.

[2018-08-08 09:19] milesgranger opened #13 "Question, open compressed file"
Hello, and thank you for creating this lib! :100:

As there is no documentation to refer to, I see that I can (and do) open a file using `netcdf::open`, but is there a way to open from a buffer / various compressed formats? Right now I would like to have the files saved in gzip format, but unsure how to load them directly into `netcdf`

[2018-08-08 14:17] mhiley commented on #13
I believe `netcdf::open` is the only option currently. @evomassiny do you agree?

Feel free to submit a PR if you have time to work on it!

[2018-08-08 15:30] evomassiny commented on #13
yes `netcdf::open` is currently the only option :/
Maybe this could be done using this [nc_open_mem()](https://www.unidata.ucar.edu/software/netcdf/docs/group__datasets.html#gac12fdf7579a2619b2aeb238cea2e7377) function (from the original C library).

[2018-08-12 09:20] pick2510 opened #14 "BTreeMap instead of HashMap"
Hi,

First of all thanks for the nice crate. It‘s very helpful for my task to efficiently destagger Arakawa C-Grids.

My problem is to destagger some variables in a netCDF file, write them out and copy the rest of the input file into the output.

Since you use HashMap, all the variables, attributes and dimension end up in random order if I iterate over them. Although it‘s not problem thats technic

[2018-08-13 10:08] evomassiny commented on #14
Good idea ! I don't think performance matters much in this part of the code, so i don't see why not :)
@mhiley do you agree ?

[2018-08-14 07:10] pick2510 commented on #14
Thx for the feedback.
Unfortunately I found out that BTreeMap doesn't preserve the order of insertion. Instead the data gets ordered alphabetically by the keys. Even though this is nicer than unordered, it doesn't solve my problem how I thought.
A vector would satisfy the order preserving criteria. But that would involve a lot of changes in your code.
I'm not sure if the advantage is worth it...

[2018-08-15 15:20] pick2510 opened #15 "Put data as ndarray into netcdf file"
Hi,
Since it's possible to pull out data from netCDF files as ndarray I wanted to ask if there is any possibility to add/append data as ndarray?
I use an ndarray to calculate stuff with my data and it seems that I have no possibility to put the multidimensional back into the netcdf file. I'm pretty new to the Rust world and ndarray seems a bit complex, but I don't see any possibility to do that.

[2018-08-15 17:31] pick2510 commented on #15
Ok, I think I found it out, into_raw_vec does the trick!

[2018-08-15 17:31] #15 closed

[2018-08-31 13:04] alllel opened #16 "package version"
The "crates.io" version of this package (0.1.0) is from 2015. And still the current version is 0.1.0

Maybe version in Cargo.toml should be increased? At least to 0.2.0?
There are new methods such as 'Variable::values_at', etc. compared to version of 2015.

[2018-10-28 13:43] milesgranger commented on #16
Second this. :+1:

[2018-10-28 13:55] evomassiny commented on #16
Me too :+1:

[2018-11-19 09:39] bluss commented on #14
You could drop in indexmap or another deterministically ordered hashmap. Indexmap doesn't do full insertion order, but it is a deterministic iteration order. (It swaps items around if you remove them from the map).

[2019-03-26 19:16] milesgranger commented on #16
@mhiley What say you?

[2019-03-26 19:17] milesgranger commented on #13
I tried to make a PR out of this, but it was ignored, so closing this.

[2019-03-26 19:26] mhiley commented on #16
Hi @milesgranger , I apologize for my lack of attention on your PR and these issues. Are you interested in becoming a collaborator on this repository? Currently myself and @evomassiny have push access, but I would be happy to add you. My interest in this project has waned, but I don't want that to stop you from pushing up new crate versions if you are actively developing.

[2019-03-27 07:59] milesgranger commented on #16
Hello @mhiley , it (and life) happens, no worries.

I would be interested, but I'm concerned I'm a bit under-qualified. Discovered this while working on the PR, not sure I really understand the interfacing with C or even how the netcdf binding file(s) were created. Whilst I could spend time learning, I'm afraid I'd fall into the same trap, just not have time to properly dedicate to the repo.

But

[2019-03-28 14:25] mhiley commented on #16
Ok sounds good. I'll make an effort to re-immerse in this a bit and help keep you moving along. With regards to this specific issue - I see you bumped the package version in the PR that you closed due to lack of attention. Can you re-open that and I'll take a look, and we'll get that one merged?

[2019-04-11 02:26] mhiley commented on #13
Reopening this since we are getting some momentum going again on #17

[2019-07-09 23:50] cbs228 commented on #16
The version of this crate published on [crates.io](https://crates.io/crates/netcdf/0.1.0) has a heap corruption bug. This could cause memory corruption or undefined behavior. I would definitely recommend publishing an updated crate.

To answer the question that @mhiley raised in eff3d1330509a239fb126ed17ad2c9ba9b3f8714: the test was probably failing due to a use-after-free in `init_sub_groups()`.

[2019-10-08 17:34] mhiley commented on #16
closed by #21

[2019-10-08 17:35] #16 closed

[2019-10-08 17:35] mhiley commented on #11
closed by #21

[2019-10-08 17:35] #11 closed

[2019-10-09 03:07] milesgranger commented on #13
Closed by #21 :balloon:

[2019-10-09 03:07] #13 closed

[2019-10-11 14:26] mhiley opened #23 "Move repo into organization?"
@milesgranger suggested in #22 that we create an org for this repo or find another org willing to take ownership of it. I'm in support of this - my time is limited and I haven't been keeping up with Rust since I wrote the original version of this crate in 2015.

Any suggestions or opinions on the details here?
* Where exactly should we move it?
* Who wants to take on a maintainer role?

[2019-10-11 14:41] milesgranger commented on #23
I've reached out to [Unidata](https://github.com/Unidata) on the off chance they may be interested, as it seems the best choice. I'll let you know what I hear back.

[2019-10-11 14:50] mhiley commented on #23
@julienchastang Greetings (not sure if you remember me from my McIDAS-V days! Hope you are doing well)! Back in 2015 I wrote the initial version of these NetCDF bindings for Rust as a hobby project to learn Rust, and in the following years several folks here on Github have done really good work to add features and make things more robust. I don't have much time these days to act as maintainer so w

[2019-10-12 08:38] milesgranger commented on #23
Per @WardF:

I think if it works out here, Unidata is the natural place for it, but [GeoRust](https://github.com/georust) also seems like a good alternative?

[2019-10-13 17:04] lwandrebeck commented on #23
Hello,

If Magnus agrees with that, I'd say he's the best to take over maintainership. He's probably the one who dive deeply and recently into the code and thus knows it well.

My knowledge of rust and netcdf is pretty limited, my time too, but I can try to give a bit of help if needed.

I'd love to be able to propose rust at work (scientific image processing), but without correct support from lib

[2019-10-14 12:53] magnusuMET commented on #23
I'd be happy to take on the role of maintainer in my spare time!

Which organisation is the most appropriate for this crate I am not sure about. A search for "netcdf language:Rust" on github does not reveal any obvious candidates.

[2019-10-14 14:54] frewsxcv commented on #23
Happy to add this to the GeoRust org, and add folks to the org, though I don't personally have much bandwidth to help with maintaining. Let me know if yall are interested and I can help with the transfer 👋

[2019-10-14 15:05] milesgranger commented on #23
I'm _super_ impressed with @magnusuMET work, along with @mhiley and everyone else.

IMO, I would rather see this go into an organization as it presents at least two benefits:

1. People _eventually_ move on to something else, through no fault of their own, and maintenance slows/stops. Under and organization this is at least mitigated to an extent as people filter in and out of the org.
2. It is an

[2019-10-15 17:37] julienchastang commented on #23
Just responding to the [earlier comment](https://github.com/mhiley/rust-netcdf/issues/23#issuecomment-541096700). Unfortunately, I don't have any good suggestions other than pinging those that are already on this thread (e.g., @WardF and @DennisHeimbigner).

[2019-10-18 12:33] magnusuMET commented on #23
@mhiley Would you like to give me collaborator status on this repository? I have some time this weekend to add some features that I've missed, especially reading string variables.

[2019-10-18 14:39] mhiley commented on #23
@magnusuMET just sent you a collaborator invite. Let me know if you haven't gotten it. Also, did you ever get an invite from crates.io? The "Manage Crate Owners" page there is showing you as an owner on `netcdf` but not `netcdf-sys`. I just tried to re-invite you to `netcdf-sys`.

Sounds like we've converged on moving this repo to the GeoRust org, unless there are any objections. Looks to me like

[2019-10-18 14:50] magnusuMET commented on #23
Thanks @mhiley! The invite for `netcdf` was available when I signed up on crates.io, but for `netcdf-sys` the invite only appeared just now.

[2019-10-18 17:44] magnusuMET commented on #14
8f44ba8 makes iteration over variables, attributes, and dimensions deterministic.

[2019-10-18 17:44] #14 closed

[2019-10-18 18:05] magnusuMET opened #24 "Add coverage tools"
[Tarpaulin](https://github.com/xd009642/tarpaulin) can be used for testing code coverage. This could be integrated into the travis CI

[2019-10-19 08:00] lwandrebeck commented on #24
I can take it in the next days it if you want. If you're on a hurry, feel free to take a look at my rush repo, where there is a working codecov, etc.

[2019-10-19 11:30] magnusuMET commented on #24
Great! Please do have a look at it :)

[2019-10-19 14:25] lwandrebeck commented on #24
I have added tarpaulin, codecov and coveralls. You’ll need to get an account on these (login with github credentials), add the repo.
I’ve updated README too, but you’ll have to tweak badges values a bit.
Please see my fork on gh. https://github.com/lwandrebeck/rust-netcdf
I can do a PR if you prefer.

[2019-10-22 21:00] #24 closed

[2019-10-24 12:29] lwandrebeck commented on #2
Looks like this one can be closed, works fine on docs.rs since 0.2.0

[2019-10-24 12:32] magnusuMET commented on #2
Maybe we should add a link to the documentation in the readme, and link the readme to crates.io?

[2019-10-24 12:32] lwandrebeck commented on #23
It looks like none is against getting under the umbrella of GeoRust. @magnusuMET , can you take care of the transfer with @frewsxcv ?
Thx !

[2019-10-24 12:38] magnusuMET commented on #23
The transfer has to be done by the owner of the repo. @frewsxcv, could you allow @mhiley to create a repository in GeoRust? Then @mhiley should be able to do the transfer by following the instructions above.

[2019-10-24 12:51] lwandrebeck commented on #2
Nice idea. Will do in a couple minutes.

[2019-10-24 15:44] magnusuMET commented on #2
Fixed in #27

[2019-10-24 15:44] #2 closed

[2019-10-24 17:07] magnusuMET opened #28 "add option to change endianess on variables"
One can set the endianess per variable in the dataset. This should be exposed to the user of this wrapper.

[2019-10-24 17:12] magnusuMET opened #29 "Static build"
It would be nice to have the option to include a static version of netcdf with an application. This would be a rather complicated task, as it would also require to either link to a static `libhdf5` or build this from source too.

[2019-10-24 17:13] magnusuMET opened #30 "implement compound types"

[2019-10-24 17:14] magnusuMET opened #31 "implement variable length arrays"

[2019-10-24 17:15] magnusuMET opened #32 "implement enum type"

[2019-10-24 17:19] magnusuMET opened #33 "implement opaque types"
Add two new functions to `Variable` for putting and getting raw bytes

[2019-10-25 08:32] lwandrebeck commented on #28
Would something like this do (partially) the trick ?
https://github.com/lwandrebeck/rust-netcdf/commit/4ce77a9fb7f83f204d04d8448a3271f3a03340b0

[2019-10-25 08:37] lwandrebeck opened #34 "Opening a gitter.im room ?"
Everything’s in the title !
It’d be nice to be able to chat in real-time about dev, and support, imho.

[2019-10-25 08:38] magnusuMET commented on #28
Could you create an enum for endianess, which you convert to the corresponding value? It would also be nice to have both a setter and a getter for the endianess. The signature of the setter should be `&mut self`.

[2019-10-25 10:22] lwandrebeck commented on #28
What about https://github.com/lwandrebeck/rust-netcdf/commit/e0afced2cf2117890c1bd3f4871bd1b41c541d1e ?

[2019-10-25 10:49] magnusuMET commented on #28
Starting to look good now! Feel free to open a PR so I can comment directly on it, and let travis have a go at it.

`endian_value` should return `error::Result<Endianness>` and `enum Endianness` should `#[derive(Debug, Copy, Clone)]`.

There should also be a test that uses these methods to ensures they are visible to the user. You don't have to test whether the underlying netcdf library actually s

[2019-10-25 12:14] magnusuMET commented on #28
`Endianness` could also derive `PartialEq`

[2019-10-25 12:51] lwandrebeck commented on #28
Ok, I’m on test part. It _looks_ like netcdf does not use Native, but converts silently to Little or Big depending on the arch the file is created on. I need to dig a bit deeper about that.

[2019-10-25 12:55] magnusuMET commented on #28
Maybe one can put `Native`, but you will never get `Native` in return?

[2019-10-25 13:20] lwandrebeck commented on #28
It seems even if you give Big on create, it is written as Little on a little-endian arch.
« and the library takes care of the conversions on reading or writing, so that programs using the library alsways deal with the data in native form.  That's one of the purposes of the netCDF library, to insulate programmers from having to know anything about characterisitics of the computer on which the data

[2019-10-25 14:04] lwandrebeck commented on #28
I left test out of https://github.com/mhiley/rust-netcdf/pull/35 as we need to dive a bit more into netcdf lib and decide what and how to test endianness.

[2019-10-25 16:11] magnusuMET commented on #28
Might be that the endianess is not set before it is synced. You could try putting a value then reading it back out. The only purpose of setting the endianess ourself would be to avoid endianess conversion on the target, otherwise it should be hidden.

[2019-10-25 16:12] magnusuMET commented on #28
We could test the true endianess once #33 is implemented.

[2019-10-26 13:37] lwandrebeck commented on #28
Ok, I’ve fixed up a stupid bug introduced by myself in test.
Native is automatically converted by netcdf into either Little or Big. Adding test to PR.

[2019-10-26 14:12] magnusuMET commented on #28
Implemented in #35

[2019-10-26 14:12] #28 closed

[2019-10-26 14:26] magnusuMET commented on #34
Would it be an option to use the GeoRust discord chat?

[2019-10-26 21:40] frewsxcv commented on #23
@mhiley Just sent you an invite to the GeoRust org. Let me know if you need any help with the transfer 👋

[2019-10-26 21:58] lwandrebeck commented on #34
Why not. I must admit having nothing to install, and being just a click away from chat is nice, but if people prefer discord, then so be it :)

[2019-10-27 16:09] lwandrebeck commented on #33
There’s a WIP in https://github.com/lwandrebeck/rust-netcdf/commit/c69077643b1eb782f1a3eb7a43907058dfd657f4
Feel free to work on it a bit more, I probably won’t have much time in the coming days.

[2019-10-28 19:11] magnusuMET commented on #33
I think this might require quite a lot of work when it comes to exposing netcdf types as some sort of rust structure. I'm going to remove the "good first issue" tag.

The best thing would be to have a `serde` like approach to serialising data, where one can put a `#derive(netcdf)` on a struct, but I haven't really had a look at how that is done.

[2019-10-28 19:16] magnusuMET commented on #33
We need to add a `Vec` or `HashMap` to store the types in each `Group`, and some way of using the generic `Numeric` trait on the custom types.

[2019-10-29 18:03] magnusuMET commented on #33
#37 allows us to traverse the tree upwards to get any types. Each variable now needs a weakref to the group, and we can find the applicable type.

[2019-11-09 06:18] milesgranger commented on #23
@mhiley any updates with the move? Know you're a busy person. :slightly_smiling_face:

[2019-11-12 15:19] mhiley commented on #23
@milesgranger Thanks for the reminder - I'll get to it this week.

[2019-12-17 18:07] gauteh opened #42 "Parallel read"
Hi, I think both netcdf and hdf5 supports parallel reads. Glimpsing at the source of this project there seem to be some global locks. Is parallel netcdf supported?

I am interested in the raw xdr encoded data for a dap server. Is it possible to access the raw bytes through this library?

[2019-12-18 08:01] magnusuMET commented on #42
The standard netcdf library on Ubuntu machines do not come with parallel support, so this is not supported as of now. The global lock acts to serialize all access to the (not threadsafe) netcdf c library, but this restriction could be lifted for the parallel reads.

[2019-12-18 08:07] magnusuMET commented on #42
The underlying netcdf library does not support accessing the raw bytes, so this is not exposed here either.

[2019-12-18 09:17] magnusuMET opened #43 "Investigate where netcdf-c breaks thread safety"
The global mutex is in no way ideal when reading/writing from multiple threads, and could be split into several (global/per file), or replaced by RWlocks.

This requires investigation into where netcdf does something thread unsafe, and limit the locking to this part. Should also investigate where HDF5 might be problematic

One could also integrate bindings to https://github.com/Parallel-NetCDF/Pne

[2019-12-18 09:28] magnusuMET commented on #43
Constraints from Rust should also be taken into account when investigating (multiple reader, no writers), which could allow relaxing of the locking

[2019-12-18 09:45] magnusuMET opened #44 "High memory utilisation"
Opening a larger file double-caches all metadata, both on the libnetcdf side and on the rust side. We could consider slimming caching on this side, and call into libnetcdf more often. This would also help with initial loading of the file.

[2019-12-18 10:29] magnusuMET opened #45 "Chunks iterators"
When reading values from a variable, it should be possible to get a lazy-loading iterator over chunks.

Implementation details:
new method: fn values_chunked(start, chunklength, &mut buffer) -> ChunkIterator { }

struct ChunkIterator {
   start: ()
   buflen: ()
   buffer: ()
}

[2019-12-23 04:36] magnusuMET commented on #43
There is currently no locking (in `netcdf-c`) of the global `NCList`, which contains the file-handles. One could either lock when opening/closing files, or try to upstream a RwLock protecting this structure.

[2019-12-23 04:36] magnusuMET commented on #43
Caching of variables and attributes requires a separate lock when reading/writing variables/groups.

[2019-12-23 04:47] magnusuMET opened #46 "Build netcdf-c from source"
`netcdf-c` includes some useful functionality (`nc_initialize`, working with mmap-ed files) which would be useful to expose. This should ideally be under a feature flag. Should consider which version we are linking to for dynamic linking, and only expose the available functionality.

[2019-12-30 13:31] gauteh commented on #42
I do not know the extent of the thread-un-safety of libnetcdf. Is, for instance, regular netcdf safe to use from several threads _as long as_ as the same file handle is only used from one thread at the time? So that by opening the same file twice it can be used from two threads concurrently? In that case the lock can be moved down to `netcdf::File` level, at least for reads. This would speed thing

[2019-12-30 14:31] gauteh commented on #43
Continuing from #42 which seems to overlap with this one. HDF5 does support single-writer / multiple-readers (e.g. http://docs.h5py.org/en/stable/swmr.html). So maybe this is something that could be supported on newer HDF5 based netcdf files. I saw somewhere that using hdf5 to write, and especially adding new variables, to a netcdf file is likely to make the file unreadable by netcdf. But reading

[2019-12-30 14:32] gauteh commented on #42
Just for reference, removing the LOCK.lock in values_to and stress-testing with concurrent reads causes `Error 11: Resource temporarily unavailable`.

[2019-12-30 15:17] magnusuMET commented on #42
Parallell reads/writes goes through pnetcdf. I think this issue can focus on strictly the parallell functionality, which requires opening through `nc_{create/open}_par`

[2019-12-30 15:24] magnusuMET commented on #43
Multiple readers should be supported out of the box, but some initialisation might be required on first access of the variable. I think we can have a lock surrounding opening/closing files and smaller locks on variable access

[2019-12-30 15:28] magnusuMET commented on #43
@gauteh Do you have a suitable benchmark we could use for testing parallell performance?

[2019-12-30 15:29] magnusuMET commented on #42
This is errno EAGAIN

[2019-12-30 15:31] gauteh commented on #43
I can try to make something self-sufficient - but I don't think I will
manage before after newyear. Are we talking about concurrent access from
threads or from processes? I am little bit confused about the difference
between this issue and the parallel read issue.

man. 30. des. 2019, 16:28 skrev magnusuMET <notifications@github.com>:

[2019-12-30 15:32] gauteh commented on #43
And to same file struct? Or one struct per thread to same netcdf file?

man. 30. des. 2019, 16:31 skrev Gaute Hope <eg@gaute.vetsj.com>:

[2019-12-30 15:39] magnusuMET commented on #43
I believe we are mostly interested in threads

The parallel access requires an MPI communicator, and parallell instances of the same program. This is not exposed at all in the current form of the library

[2019-12-30 15:43] gauteh commented on #43
Ok, I don't have anything using MPI at the moment. But I can create some
benchmarks for multi-thread concurrency.

man. 30. des. 2019, 16:39 skrev magnusuMET <notifications@github.com>:

[2019-12-30 15:44] magnusuMET commented on #43
I am not really sure whether `Variable` should be `Send`/`Sync` yet. I'll need to dig into `netcdf-c` and see.

[2020-01-06 20:29] magnusuMET commented on #46
Related: #29

[2020-01-07 11:47] gauteh commented on #43
Tried making a small example now using latest master. I'm not able to pass a `Arc<netcdf::File>` between threads anymore due to `UnsafeCell` on groups: https://github.com/gauteh/rust-netcdf/blob/thread-perf/tests/concurrency.rs

I also noticed you are working on some big changes in #51, which is probably good to get in before resolving this..?

[2020-01-07 11:54] magnusuMET commented on #43
Yeah, I've pretty much redone entirely how this crate parses the netcdf file, which will remove the `UnsafeCell` and pull the crate to a one-to-one mapping towards `netcdf`. I don't think there is any strong opposition against merging, so I'll go ahead and do just that.

[2020-01-07 11:54] gauteh commented on #43
Great!

[2020-01-07 11:55] #44 closed

[2020-01-08 15:05] magnusuMET opened #53 "Release v0.4.0"
Let us prepare for a new release, this one will introduce breaking changes.

Since the last release we have done:
* #51 Changed this library to a thinner wrapper around `netCDF`
* #50 Multi-valued attributes
* #49, #47 Strided get/set
* #39 Removed `indexmap` as a direct dependency
* #35 Endianess (thanks @lwandrebeck)

Are there any more breaking changes we would like to perform before releasing?

[2020-01-13 19:28] norru opened #54 "Compilation fails on Rust 1.42.0 Nightly"
rustc 1.42.0-nightly (859764425 2020-01-07)

[code]

[2020-01-13 19:42] norru commented on #54
Upstream issue:

https://github.com/bluss/matrixmultiply/issues/50

[2020-01-13 22:40] magnusuMET commented on #54
As a workaround compile on `stable` or avoid the `ndarray` feature

[2020-01-13 23:00] magnusuMET commented on #43
Some observations from using a non-threadsafe HDF5 library: Segfaults and aborts, even when working on unrelated netCDF files. HDF5 should be considered highly unsafe for multithreading.

[2020-01-14 11:59] gauteh commented on #43
I guess that settles the discussion on HDF5. I asked developers of Hyrax (an official opendap server) about their HDF5 interface. It seems to be more thread-safe, but I am not sure if this refers to the HDF5 reading library or possible an interface in-between. If somehow HDF5 can be made thread-safe w.r.t. at least reading that will put the performance much higher than netcdf-libs in other languag

[2020-01-14 12:08] lwandrebeck commented on #43
Maybe using https://github.com/aldanor/hdf5-rust could help ? Note that I haven’t used that crate, but readme says « provides thread-safe Rust bindings and high-level wrappers for the HDF5 library API. »
HTH.

[2020-01-14 12:09] gauteh commented on #43
It also relies on the official HDF5 library, but provides thread-safety through a global lock. This means that a single process can only sequentially use any of the (unsafe) functions from HDF5.

[2020-01-14 12:20] magnusuMET commented on #43
We have `https://crates.io/crates/hdf5file`, but quite a lot of work is neccessary to get this up to spec, and gain performance relative to a linked thread-safe `hdf5`

[2020-01-14 12:42] magnusuMET commented on #43
For CDF-1,2,5 we could realistically create a safe dispatcher, I already have a CDF-parser written in `nom`

[2020-01-15 11:18] magnusuMET commented on #53
Released and tagged 58d1d11

[2020-01-15 11:18] #53 closed

[2020-01-17 09:49] magnusuMET commented on #43
Just to demonstrate the crash in netcdf (I have yet to repeat this in raw hdf): https://gist.github.com/magnusuMET/28a7991db0fcb5392b56573837aa7289

[2020-01-18 11:31] magnusuMET commented on #54
`matrixmultiply` now compiles on the latest nightly

[2020-01-18 11:31] #54 closed

[2020-01-18 11:34] magnusuMET commented on #23
@mhiley Just a friendly reminder (:

[2020-01-22 14:11] mhiley commented on #23
@magnusuMET attempt to transfer repo happening in a moment 😃

[2020-01-22 14:15] mhiley commented on #23
@frewsxcv @magnusuMET @milesgranger transfer complete, looks like it worked! Sorry for the delay. Let me know if there's anything else I can do!

[2020-01-22 21:48] #23 closed

[2020-01-26 02:35] frewsxcv commented on #23
@mhiley Yep, looks good, thanks! Only other thing left is giving GeoRust members permission to publish the crates. Can you run `cargo owner -a github:georust:core` in the root directory and the `rust-netcdf` directory?

[2020-01-26 21:18] magnusuMET commented on #23
@frewsxcv I am also an owner of the crate. Running the command gives me
[code]
Am I doing something wrong?

[2020-01-31 02:08] frewsxcv commented on #23
@magnusuMET woops, i meant to invite you to the org. but i accidentally invited you as an outside collaborator. can you accept the invite in your email and then retry the `cargo owner` command?

[2020-01-31 08:05] magnusuMET commented on #23
@frewsxcv And now it worked! Thanks so much for your help!

[2020-02-13 13:45] lwandrebeck opened #57 "codecov and coveralls coverage broken"
Hi,

coverage badges are broken due to org change. Could someone from georust take a look ? (logging in codecov and coveralls and adding repo should be enough)

Thanks,

[2020-02-13 15:40] magnusuMET commented on #57
I tried rerunning Travis, which gave us the codecov badge back. There seems to be some form of failure for `kcov`, resulting in

[code]

[2020-03-30 14:52] #30 closed

[2020-03-30 14:52] #31 closed

[2020-03-30 14:52] #32 closed

[2020-03-30 14:52] #33 closed

[2020-04-03 10:11] magnusuMET commented on #43
`netcdf-c` does not make any reasonable guarantee regarding thread safety, so a global mutex is needed. If multi-reading is necessary, consider using MPI (requires some additional support in this library), or copy the approach of [dars](https://github.com/gauteh/dars)

[2020-04-03 10:11] #43 closed

[2020-04-03 15:22] #57 closed

[2020-04-30 14:54] magnusuMET opened #63 "not being linked properly on windows for end binary"
https://github.com/Axect/Peroxide/issues/16 reports a problem where the linker could not find the corrrect library to link on Windows 10 for an official install

[2020-06-22 11:57] apexys opened #65 "Hash of file changes after opening with rust-netcdf"
Hey everyone,
we've been using this library for a while now at GEOMAR and we've noticed that apparently in some cases the (SHA1-)hash of the file we've opened with the library changes, even though we are just reading from it.
Is this due to some file-locking-flag in the file itself or is it some other problem?
We've also had our application crash for unrelated reasons a few times and ended up with

[2020-06-22 12:42] magnusuMET commented on #65
Hi @apexys. That sounds like a very bad issue! This library opens files using `NC_NOWRITE` when using `netcdf::open`, so such behaviour is definitely unexpected! It looks like we have to find a MRE and report this upstreams to `netcdf-c`.

What version of `hdf5`, `netcdf-c`, and this crate are you using? Any access patterns or behaviours which exacerbates the errors? Are you using the `hdf5` or `h

[2020-06-22 15:26] magnusuMET commented on #65
I don't think `hdf5` got a lock inside the file, it seems to require this from the operating system. I've attempted to replicate using the GEBCO 2020 dataset and using `std::process::abort` to terminate the program in various places, but no success as of yet.

`hdf5` and `netCDF` does not have any mechanisms to fix corruption, so it is very strange that it should not work for one launch and work f

[2020-06-24 09:05] apexys commented on #65
Thinking about this further, the file was on an NTFS disk on a Windows 7 machine, so we think it might just be a problem with that system.
For some reason though, the "created" / "last accessed" date is set to the last time the file is "fixed" and the "last changed" date is some time in 2019 which seems plausible.
Weird happnenings.
I'll update this thread when this happens again, we didn't manage

[2020-06-24 09:05] #65 closed

[2020-07-03 06:39] magnusuMET opened #67 "All paths should accept and return OsString"
Paths can contain sequences which are not UTF8 compatible, which the current implementation won't allow.

[2020-07-10 10:14] magnusuMET commented on #67
There is some discussion over on https://github.com/Unidata/netcdf-c/issues/1786 where the handling of utf8 is discussed.

[2020-08-10 16:15] #29 closed

[2020-08-10 16:15] #46 closed

[2020-08-10 18:35] magnusuMET opened #69 "Investigate and fix docs.rs build"
It seems the `netcdf-c` developers write files outside of the build directory when building their release. These writes should be located, and patches should be sent upstream to fix this.

Alternatively a PR can be opened on `docs.rs` for inclusion of `libnetcdf-dev`

[2020-08-11 09:34] magnusuMET opened #70 "ncdap_test not existing in latest netcdf-src"
Current release of `netcdf-src` will fail since it requires creating some configure files in directory which we have excluded. Short term solution might be to create a fork/patch of `netcdf-c` which fixes this, long term solution will be to get this included upstreams and released in the next version of `netcdf-c`.

Thanks @fstaebler for reporting this!

[2020-08-11 21:01] magnusuMET commented on #70
Should be fixed in `netcdf-src` version 0.1.2

[2020-08-11 21:01] #70 closed

[2020-08-11 21:02] magnusuMET commented on #69
We now have our docs back!

[2020-08-12 10:08] #69 closed

[2020-08-15 08:13] magnusuMET opened #72 "CI failed"
https://github.com/georust/netcdf/actions/runs/209314298

[2020-08-15 08:13] magnusuMET commented on #72
This was due to a faulty upload of `libz-sys`, https://github.com/rust-lang/libz-sys/issues/65

[2020-08-15 08:13] #72 closed

[2020-10-28 22:15] magnusuMET commented on #67
Windows users must use ANSI filenames when opening/creating, this is a limitation by the netCDF library

[2020-10-28 22:15] #67 closed

[2021-01-08 11:50] NotSqrt opened #79 "Troubles reading xarray netcdf files"
Hello !

I'm trying the examples/ncdump.rs bin to read files generated from python by `xarray.Dataset.to_netcdf` :
https://xarray.pydata.org/en/stable/generated/xarray.Dataset.to_netcdf.html

https://github.com/georust/netcdf/blob/ca0970edf8f28517319b0a08b010eba449c6ec94/examples/ncdump.rs#L71
[code]

The `-45` being `NC_EBADTYPE` from https://github.com/georust/netcdf/blob/71b41fe/netcdf-sys/src/

[2021-01-08 13:53] magnusuMET commented on #79
`NC_EBADTYPE` is an error from `netcdf-c`. I think `ncdump` might do something wrong regarding printing the type (the `vartype()` call). Do you have an example file that shows this problem? Does the `ncdump` which uses `netcdf-c` print the type correctly?

[2021-01-08 14:39] magnusuMET commented on #79
Looks like `S1` and `S4` are converted to `NC_CHAR` which we did not support in this library. This should be fixed in the linked PR.

Do note that `NC_CHAR` is awkward. One cannot read into `u8` or `i8` (`nc_get_vara_{u,s}char`) directly, but must use `nc_get_vara`. Our wrapper of `nc_get_vara` is called `raw_values` and returns raw bytes the user must interpret.

[2021-01-08 15:07] NotSqrt commented on #79
I confirm that `netcdf = { git = "https://github.com/magnusuMET/netcdf", branch = "feature/char" }` fixes the panic !

To give a complete example: a matrix of min/average/max RMS values over 2 signals x 15 times:
[code]
shows:
[code]

while ncdump shows:
[code]

**I'm suspicious of the `string4` and `string1` shown in the dimensions, but it might be the way xarray encodes its data.**

[2021-01-08 15:46] #79 closed

[2021-01-08 15:54] magnusuMET commented on #79
`string4` and `string1` are automatically created names for unnamed dimensions in `xarray`. You might find it easier to work with strings as you already have some string items. The following stack overflow questions has some details regarding automatic conversion: https://stackoverflow.com/questions/48959201/xarray-store-strings-as-string-data-type-instead-of-char-n-dimensional-ch

There is also s

[2021-01-08 16:00] magnusuMET commented on #79
Should be available as `0.6.0` on `crates.io` now!

[2021-03-01 23:20] richli opened #82 "Update to ndarray 0.14.0"
Could you make a release with the `ndarray` dependency updated to [0.14.0](https://github.com/rust-ndarray/ndarray/releases/tag/0.14.0)?

Without pinning my crate's `ndarray` dependency to `^0.13.0`, it looks like mixing-and-matching versions doesn't work:

[code]

[2021-03-02 06:54] #82 closed

[2021-03-02 06:59] magnusuMET commented on #82
Thanks for reporting this. You can find the ndarray bump in version `0.6.1`

[2021-03-02 07:16] richli commented on #82
Thank you! And thank you for your great work on this, it's super nice to be able to use Rust to read/write netCDF files directly!

[2022-05-13 20:29] magnusuMET opened #89 "netcdf features should be enabled if available"
Certain netcdf features are only available on certain versions of netcdf. `netcdf-sys` should parse the output of `nc-config` to determine which features are active and conditionally compile bindings for them.

[2022-05-29 07:27] magnusuMET commented on #63
This should be fixed by allowing the enviroment variable `NETCDF_DIR` during build time (#90)

[2022-05-29 07:27] #63 closed

[2022-05-29 07:27] magnusuMET commented on #89
Fixed by #90

[2022-05-29 07:27] #89 closed

[2022-05-29 07:53] magnusuMET opened #91 "Update netcdf-src to latest version of netcdf-c"
We can use a more up do date version of netcdf-c to enable later bindings from #90

[2022-05-29 08:32] magnusuMET opened #93 "Add derive macros for more advanced types"
Look to `hdf5-rust` for how this could look like, where the user can specify arbtrary types and derive `NcType` for serialisation and deserialisation to netcdf files

[2022-05-29 08:34] magnusuMET commented on #34
As it is just me at the moment working on this crate I will close this issue. Feel free to open an issue if there are any items you would like to discuss

[2022-05-29 08:34] #34 closed

[2022-06-02 15:54] antscloud opened #94 "CF Time attribute"
Hello, thank you for the work on this project !

By any chance, is there a plan to add a CF time attribute reading/parsing to handle the datetime type ?
I can't find anything on the docs nor on crates.io
I think of something like  [Julia CFtime](https://github.com/JuliaGeo/CFTime.jl) or [Python CFtime](https://github.com/Unidata/cftime)

I believe it would be a great feature for the geophysical fi

[2022-06-02 16:01] magnusuMET commented on #94
This would be a good addition to this crate, a PR for this feature would be great! I have not made a comprehensive parser, but the following snippet might be of help:
[code]

[2022-06-03 07:09] antscloud commented on #94
Thank you for your snippet, it'll help :+1:

I am new to Rust, I'll try to write something when I have time. If I do, I'll do a PR

I was thinking,maybe it might be easier, in the first place, to add a binding to either the Python package (as written in CPython) or the C UDunits package, what do you think?

[2022-06-03 07:55] magnusuMET commented on #94
Wrapping python is not trivial. Udunits might be feasible, but this is a big library and could be a pain to use compared to rollig our own parser. The following is how we could implement the parser if the `iso8601` crate could expose the nom parser
[code]

[2022-06-03 07:56] magnusuMET commented on #94
Comparing times is however the hard part. This depends on calendars and might be quite a lot of complexity. Not sure how much we need to leave to the user there

[2022-06-13 20:04] Butterygames opened #95 "thread 'main' panicked at 'Unable to locate HDF5 root directory and/or headers.'"
Hello, I've been having this error thrown by rust-analyser since trying to use this crate. I'm not overly familiar with netcdf files so I'm not exactly sure what I need to install/ where to install it from. (honestly when I look up HDF5 I'm not sure which site to even open up haha)

[2022-06-13 20:07] magnusuMET commented on #95
Most likely you are missing the `hdf5-dev` package if you are using e.g. ubuntu. Which platform are you on?

[2022-06-13 20:08] Butterygames commented on #95
Hi, I'm running windows

[2022-06-13 20:10] magnusuMET commented on #95
I am not overly proficient in windows, but maybe you need to install the hdf5 library found here? https://www.hdfgroup.org/downloads/hdf5

[2022-06-13 20:26] Butterygames commented on #95
Ah, good news and bad news lol

Good news: That error message is fixed

Bad news: I got a new one
thread 'main' panicked at '"C:\\Program Files\\HDF_Group\\HDF5\\1.12.1\\bin" not found in PATH.'

[2022-06-13 20:32] magnusuMET commented on #95
i would hope `hdf5` adds itself to path and all is required is a restart of the shell/IDE. Otherwise you need to add the path to PATH as done in the CI for `hdf5-sys` : https://github.com/aldanor/hdf5-rust/blob/d71b03e1f3235a2a714fea5233231cc04f2c7d07/.github/workflows/ci.yml#L227

[2022-06-13 20:43] magnusuMET commented on #95
It might be easier just using the `static` feature of this crate. This way you don't have to install anything and get a binary which is easier to copy around

[2022-06-13 20:45] Butterygames commented on #95
Ah yes, a IDE restart fixed it. ty for the help :)

[2022-06-13 20:45] #95 closed

[2022-06-13 21:00] Butterygames commented on #95
Hi again @magnusuMET sorry no problems just wanted to know about the static feature of the crate, it sounds it'd make it would be useful for future reference. How about's would I go about using it? (Sorry I'm still very new to Rust, this is part of a project I'm working on to get more familiar with it)

[2022-06-13 21:05] magnusuMET commented on #95
It should be as simple as changing the dependency line in your `Cargo.toml` to
[code]
This might require `cmake` installed on the build machine

[2022-06-13 21:22] Butterygames commented on #95
Ah gave it a shot in static mode, with cmake installed, after IDE reset. Just got this lol:

Ah well I have it working the other way for now,  ty for the info :p

[2022-07-18 10:53] antscloud commented on #94
Your snippets work great for parsing !

The major difficulty  will be the handling of the different calendars (in addition to comparing them)

Since both chrono and time crate use proleptic gregorian calendar, it seems that we can't use them to handle the calendars.
For example with the `all_leap` calendar, we can't define the 29 of february 2022 otherwise the functions panic.

Even if we found a

[2022-07-18 11:34] magnusuMET commented on #94
We will have to define the calendars ourselves with the correct impl for `Add<Duration>` and friends. This might be a lot of work, is there a MWP we could strive for?

[2022-07-18 11:48] antscloud commented on #94
Definitely feasible, but not easy
I'm sorry, a MWP ?

Le lun. 18 juil. 2022, 13:34, Magnus Ulimoen ***@***.***> a
écrit :

[2022-07-18 11:53] magnusuMET commented on #94
Sorry, MWP should have been MVP, minimum viable product. Would be great to see how the user could interpret a time array in a file using CF-conventions to get the correct times

[2022-07-18 12:28] antscloud commented on #94
Thank you :+1:

I started to try the snippet with the parser and i just came with a working little piece of code to convert an array of int to datetimes. I wrote this with the julia api in mind, i.e. with high levels api functions decode_cftime and encode_cf_time.
There is some code that are unused because i realized that this was not possible for chrono nor time to handle other calendars

[code]

[2022-07-18 13:27] antscloud commented on #94
Wow such a snippet in no time :exploding_head:
I can make a PR with this code if you want. What about create a library (subfolder) with `cargo new --lib cftime` in the root in case the code becomes too big and need a separated crate ?